/* for sticky footer */
html, body {
  height: 100%; }

/* for sticky footer */
.wrapper {
  min-height: 100%;
  height: auto !important;
  /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -50px;
  /* the bottom margin is the negative value of the footer's height */ }

.push {
  height: 50px;
  /* .push must be the same height as .footer */ }

html body {
  background-color: #fff;
  font-size: 1rem; }
  html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
    color: #6e7b84;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold; }
  html body p {
    color: #6e7b84;
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;
    margin-top: .5rem; }
  html body label small.right {
    line-height: 2; }
  html body ul li {
    color: #6e7b84;
    font-size: 1.1rem;
    font-family: "Lato", sans-serif; }
  html body footer small {
    color: #6e7b84;
    padding-bottom: .5rem; }
  html body table.responsive th, html body table.responsive td {
    padding: .3rem;
    font-size: 0.6rem; }

.slick-prev {
  margin-left: 2.5rem; }

.slick-next {
  margin-right: 2.5rem; }

.slick-prev:before,
.slick-next:before {
  color: #008cba !important; }

.top-bar,
.title-area,
.toggle-topbar {
  background-color: #fff !important; }

.top-bar {
  height: 4rem; }
  .top-bar .title-area {
    margin-top: .5rem; }
  .top-bar .toggle-topbar.menu-icon a {
    color: #008cba !important; }
  .top-bar .toggle-topbar.menu-icon a::after {
    box-shadow: 0 10px 0 1px #008cba, 0 16px 0 1px #008cba, 0 22px 0 1px #008cba; }

.top-bar.expanded .toggle-topbar a::after,
.top-bar.expanded .toggle-topbar a:hover:after {
  box-shadow: 0 10px 0 1px #008cba, 0 16px 0 1px #008cba, 0 22px 0 1px #008cba; }
.top-bar.expanded .top-bar-section {
  margin-top: .75rem; }
  .top-bar.expanded .top-bar-section ul {
    background-color: #fff !important; }
    .top-bar.expanded .top-bar-section ul li {
      border-bottom: solid 1px #eee; }

.top-bar-section {
  background: #fff !important;
  margin-top: .5rem; }
  .top-bar-section ul {
    background-color: #fff !important; }
    .top-bar-section ul li {
      background: inherit; }
      .top-bar-section ul li a {
        font-size: 1rem; }
      .top-bar-section ul li a:hover h1, .top-bar-section ul li a:hover h2, .top-bar-section ul li a:hover h3, .top-bar-section ul li a:hover h4, .top-bar-section ul li a:hover h5 {
        background: #fff !important;
        color: #e5d62f;
        transition: color 300ms; }
    .top-bar-section ul li.show-for-small-only {
      border-bottom: solid 1px #eee; }
  .top-bar-section li:not(.has-form) a, .top-bar-section li:not(.has-form) a:not(.button) {
    background: #fff !important;
    color: #008cba; }
  .top-bar-section li:not(.has-form) a:hover, .top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #fff !important;
    color: #e5d62f;
    transition: color 300ms; }
  .top-bar-section .dropdown {
    background: inherit; }
    .top-bar-section .dropdown li {
      border-bottom: solid 1px #eee; }
    .top-bar-section .dropdown li:not(.has-form):not(.active) a, .top-bar-section .dropdown li:not(.has-form):not(.active) a:not(.button) {
      background: #fff !important; }
    .top-bar-section .dropdown li:not(.has-form):not(.active):hover a:hover, .top-bar-section .dropdown li:not(.has-form):not(.active):hover a:not(.button):hover {
      background: #fff !important;
      color: #e5d62f;
      transition: color 300ms; }

.columns {
  margin-top: .5rem; }

.no-margin {
  margin: 0 !important; }

.margin-top-4 {
  margin-top: 4rem; }

.backdrop {
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.full-width {
  max-width: 100%;
  background-color: #fff; }

.no-padding {
  padding: 0 !important; }

.clear {
  clear: both;
  float: left !important; }

.header {
  font-size: 8rem; }

.center {
  text-align: center; }

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0; }

input.fontawesome {
  font-family: Arial, FontAwesome; }

/*# sourceMappingURL=app.css.map */
